body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 95%;
    margin: auto;
}
.header {
    background-image: url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
    overflow: hidden;
    
}
.menu-area ul{
    display: block;
    text-align: center;
    margin-top: 50px;
    
    
}
.menu-area ul li{
    display: inline;
    margin: 50px 24px;
}
.menu-area ul li a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 20px;

}
.slogan-area{
    text-align: center;
    margin: 150px 0;
}
.slogan-area h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
}
.slogan-area h3{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 50px;
}


.header-iconarea .icon{
    display: flex;
    height: 80px;
    width: 180px;
    margin: 0 auto;
}
.header-iconarea .icon .twiter{
    margin: 0 20px;
}
.header-iconarea .icon .flicker{
    margin: 0 20px;
}
.header-iconarea .icon .dribbble{
    margin: 0 20px;
}
.flexible-container {
    display: flex;
    overflow: hidden;
}
.half-width{
    width: 50%;
    padding: 50px;
}
.hand-area {
    background-color: #F5F6F7;
    height: 400px;
}

.text-area .hand-text {
    color: #20A48A;
    text-transform: uppercase;
    font-weight:300;
}
.text-area p {
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 0 40px 0;
}
.btn{
    background: #16A085;
    padding: 10px 30px;
    color: white;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px;
}
.hand-image .half-width {
    width: 100%;
    height: auto;
}
.design-hedding{
    color: #20A48A;
}
.our-community{
    display: flex;
    background-color: #F5F6F8;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 120px 0;
}
.community-area{
    text-align: center;
    width: 30%;
    box-shadow: 4px 4px 12px gray;
    padding: 10px;

}
.community-logo img{
    width: 50px;
    margin: 0 auto;
    display: block;
}
.image-area1{
    text-align: center;
    width: 30%;
    box-shadow: 4px 4px 12px gray;
    padding: 10px;
}
.image-area1 img{
    width: 100%;
    margin: 0 auto;
    display: block;
}
.image-area2{
    text-align: center;
    width: 30%;
    box-shadow: 4px 4px 12px gray;
    padding: 10px;
}
.image-area2 img{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.subscrib-bg{
    background-image: url(./images/subscrib-bg.jpg);
    width: 95%;
    height: 600px;
    margin: 0 auto;
}
.subscrib-bg h2{
    text-align: center;
    color: white;
    padding-top: 300px ;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.subscrib-form .subscrib{
    border: 2px solid gray;
    display: block;
    margin: 0 auto;
    float: none;
}
.download-area{
    background-color: #F5F6F8;
    padding: 10px 0 80px;
    width: 95%;
    margin: auto;
}
.download-text{
    padding: 120px;
}
.download-text h2{
    text-align: center;
    text-transform: uppercase;
}
.download-text p{
    text-align: center;
}
.download-btn{
    text-align: center;
}
.download-btn .btn{
    background-color: #1BBC9B;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;

}
.download-btn .btn{
    background-color: #1BBC9B;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-left: 10px;
}
.coppyright h1{
    text-align: center;
    font-size: 20px;
}